<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosa.gather_e.gather.dao.GatherDAO">


    <insert id="insertGatherVO" parameterType="GatherVO">
        <selectKey keyProperty="gatherSeq" resultType="int" order="AFTER">
            SELECT TB_GATHER_SEQ.CURRVAL AS gatherSeq FROM DUAL
        </selectKey>
        INSERT INTO TB_GATHER
        (
            category_seq,
            gather_creator,
            gather_title,
            gather_date,
            gather_description,
            gather_limit,
            gather_latitude,
            gather_longitude,
            gather_location_name
        )
        VALUES
        (
            #{categorySeq},
            #{gatherCreator},
            #{gatherTitle},
            #{gatherDate},
            #{gatherDescription},
            #{gatherLimit},
            #{gatherLatitude},
            #{gatherLongitude},
            #{gatherLocationName}
        )
        </insert>


<!--
    <insert id="insertGatherImgVO" parameterType="java.util.List">
        INSERT INTO TB_GATHER_IMG (gather_seq, gather_img_url)
        <foreach collection="gatherImages" item="img" separator="UNION ALL">
            SELECT #{gatherSeq}, #{img.gatherImgUrl} FROM DUAL
        </foreach>
    </insert>
-->
    <insert id="insertGatherImg" parameterType="GatherImgVO">
        <selectKey keyProperty="gatherImgSeq" resultType="int" order="AFTER">
            SELECT TB_GATHER_IMG_SEQ.CURRVAL AS gatherImgSeq FROM DUAL
        </selectKey>
        INSERT INTO TB_GATHER_IMG (gather_seq, gather_img_url)
        VALUES (#{gatherSeq}, #{gatherImgUrl})
    </insert>

    <delete id="deleteGatherImageByGatherSeq">
        DELETE FROM TB_GATHER_IMG
        WHERE gather_seq = #{gatherSeq}
    </delete>

    <select id="selectAllGather" resultType="GatherVO">
        SELECT tg.*,
               tu.USER_NAME        AS creator_name,
               tu.USER_PROFILE_IMG AS creator_img_url,
               tug.cnt             AS gather_user_cnt,
               tc.category_name    as category_name
        FROM TB_GATHER tg
                 JOIN (SELECT gather_seq,
                              count(*) AS cnt
                       FROM TB_USER_GATHER tug
                       GROUP BY gather_seq) tug
                      ON
                          tg.GATHER_SEQ = tug.gather_seq
                 JOIN TB_USER tu
                      ON tg.GATHER_CREATOR = tu.USER_SEQ
                 JOIN TB_CATEGORY tc
                      ON tc.category_seq = tg.category_seq
    </select>

    <select id="selectAllGatherByCategorySeq" resultType="GatherVO">
        SELECT tg.*,
               tu.USER_NAME        AS creator_name,
               tu.USER_PROFILE_IMG AS creator_img_url,
               tug.cnt             AS gather_user_cnt,
               tc.category_name    as category_name
        FROM TB_GATHER tg
                 JOIN (SELECT gather_seq,
                              count(*) AS cnt
                       FROM TB_USER_GATHER tug
                       GROUP BY gather_seq) tug
                      ON
                          tg.GATHER_SEQ = tug.gather_seq
                 JOIN TB_USER tu
                      ON tg.GATHER_CREATOR = tu.USER_SEQ
                 JOIN TB_CATEGORY tc
                      ON tc.category_seq = tg.category_seq
        where tg.category_seq = #{categorySeq}

    </select>
    <select id="selectOneGatherByGatherSeq"
            resultType="GatherVO">
        SELECT tg.*,
               tu.USER_NAME        AS creator_name,
               tu.USER_PROFILE_IMG AS creator_img_url,
               tug.cnt             AS gather_user_cnt,
               tc.category_name    as category_name
        FROM TB_GATHER tg
                 JOIN (SELECT gather_seq,
                              count(*) AS cnt
                       FROM TB_USER_GATHER tug
                       GROUP BY gather_seq) tug
                      ON
                          tg.GATHER_SEQ = tug.gather_seq
                 JOIN TB_USER tu
                      ON tg.GATHER_CREATOR = tu.USER_SEQ
                 JOIN TB_CATEGORY tc
                      ON tc.category_seq = tg.category_seq
        WHERE tg.gather_seq = #{gatherSeq}
    </select>


    <select id="selectAllGatherImageByGatherSeq"
            resultType="GatherImgVO">
        SELECT * FROM TB_GATHER_IMG
        WHERE gather_seq = #{gatherSeq}
    </select>



    <delete id="deleteGatherByGatherSeq">
        DELETE FROM TB_GATHER
        WHERE gather_seq = #{gatherSeq}
    </delete>

    <update id="updateGather" parameterType="GatherVO">
    <![CDATA[
        UPDATE TB_GATHER
        SET
            category_seq = #{categorySeq},
            gather_title = #{gatherTitle},
            gather_date = #{gatherDate},
            gather_description = #{gatherDescription},
            gather_limit = #{gatherLimit},
            gather_latitude = #{gatherLatitude},
            gather_longitude = #{gatherLongitude}
        WHERE gather_seq = #{gatherSeq}
        ]]>
</update>



</mapper>