<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosa.gather_e.map_gather.dao.MapGatherDAO">


    <select id="selectAllCurrentRecruitGather" resultType="CurrentRecruitGatherVO">
	<![CDATA[
		SELECT
		   tg.*,
		   tug.cnt
		FROM
		   TB_GATHER tg
		JOIN (
		   SELECT
		      gather_seq,
		      count(*) AS cnt
		   FROM
		      TB_USER_GATHER tug
		   GROUP BY
		      gather_seq
		      ) tug
		ON
		   tg.GATHER_SEQ = tug.gather_seq
		WHERE
		   TO_DATE(GATHER_DATE , 'YYYY/MM/DD HH24:MI') > SYSDATE 
		   AND
		   tg.
	]]>
    </select>
    
    <select id="selectAllPastMeetingGather" resultType="PastMeetingGatherVO">
	<![CDATA[
	    SELECT tg.*, tug.user_seq
		FROM tb_gather tg
		JOIN tb_user_gather tug
		ON tg.gather_seq = tug.gather_seq AND tug.user_seq = #{userSeq}
		
	]]>
	</select>
	</mapper>