<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosa.gather_e.auth.dao.UserDAO">

    <select id="selectUserByEmail" resultType="UserVO">
        SELECT *
        FROM tb_user
        WHERE user_email = #{userEmail}
    </select>

    <insert id="insertUser" parameterType="UserVO">
        INSERT INTO tb_user(user_email, user_name, user_nickname, user_profile_img)
        values (#{userEmail}, #{userName}, #{userNickname}, #{userProfileImg})
    </insert>

    <update id="updateUser" parameterType="UserVO">
        UPDATE tb_user
        SET user_name        = #{userName},
            user_profile_img = #{userProfileImg}
        WHERE user_email = #{userEmail}
    </update>
</mapper>
