<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosa.gather_e.user_gather.dao.UserGatherDAO">

    <select id="selectAllUserByGatherSeq" resultType="UserVO">
        SELECT u.*
        FROM tb_user u
                 JOIN tb_user_gather ug
                      ON u.user_seq = ug.user_seq
        WHERE ug.gather_seq = #{gatherSeq}
    </select>

    <insert id="insertUserGather" parameterType="UserGatherVO">
        INSERT INTO tb_user_gather
        VALUES (#{userSeq}, #{gatherSeq})
    </insert>

    <delete id="deleteUserGather" parameterType="UserGatherVO">
        DELETE
        FROM tb_user_gather
        WHERE gather_seq = #{gatherSeq}
          AND user_seq = #{userSeq}
    </delete>
</mapper>